<!DOCTYPE html>
<html lang="en">
<head>
    <title>Personal Page</title>
</head>
<body>
        {% extends 'layout.html' %}
        {% block content %}
        <div class="contact_text">
            <h1>Contact Information</h1>
            <h2>Email</h2>
            <p>s.pugatchenko@gmail.com</p>
            <h2>Snail Mail</h2>
            <p>9888 W Belleview Ave #5014</p>
            <p>Denver, CO 80123</p>
            <h2>Phone</h2>
            <p>202-297-2025</p>
        </div>
        {% endblock %}
</body>