<!DOCTYPE html>
<html lang="en">
<head>
    <title>Stefan Home Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="home_container">
        <div class="home_button personal"><a href="/personal">Personal</div>
        <div class="home_button professional"><a href="/professional">Professional</div>
        <div class="home_button projects"><a href="/projects">Projects</div>
        <div class="home_button contact"><a href="/contact">Contact</div>
        <div class="quick-links">
            <ul>
                <li><a href="https://www.linkedin.com/in/spugatchenko/" target=blank><img src="{{ url_for('static', filename='linkedin.png') }}"></a></li>
                <li><a href="https://github.com/Pugatchenko" target=blank><img src="{{ url_for('static', filename='github.png') }}"></a></li>
                <li><a href="https://photos.app.goo.gl/DLSE71mytpUem9wq6" target=blank><img src="{{ url_for('static', filename='camera.png') }}"></a></li>
            </ul>
        </div>
    </div>
</body>
</html>