<!DOCTYPE html>
<html lang="en">
<head>
    <title>Personal Page</title>
</head>
<body>
        {% extends 'layout.html' %}{% block content %}
            <div class="famtext"><img src="{{ url_for('static', filename='beachfam.jpg') }}">
                <h2>About Me</h2>
                <p>I live with my wonderful and supportive wife Emily, rambunctious son Alexander, and sweet pooch Zuri. We enjoy spending time outdoors, especially in the mountains, as long as the mosquitos and weather allow. In order of 'length of stay' I've called Washington DC, Atlanta, Buenos Aires, Miami, Philadelphia, Chicago, Paris, and London home. I love learning, traveling, and being humbled by nature and the cosmos. I dislike inefficiency (e.g.: voicemail, the suburbs, rent-seeking), musicals, and superstition.</p>
            </div>
        {% endblock %}
</body>